import styles from './index.module.css'

/**
 * @param \{{}} props
 */
export default function {{pascalCase name}}({  }) {
  return (
    <div className={styles.parent}>
      {{pascalCase name}} works!
    </div>
  )
}
